<div class="email">
   <span class="name">andrey</span>@<span class="domain">fadeyev</span>.co.uk
</div>

<div class="description">
    <p>Hello, my name is <i>Andrey Fadeyev</i>!</p>
    <p>
        Currently, I am freelance web developer, passionate <a href="http://rubyonrails.org/">Ruby On Rails</a> programmer from Wolverhampton, UK. 
    </p>
    <p>
        Also, I am doing my BSc Computer Science (Software Engineering) at the <a href="http://www.wlv.ac.uk/" target="_blank">University of Wolverhampton</a>.
    </p>
</div>

<div id="comming_soon">
    This webpage will be updated soon...
</div>
