<div class="email">
   <span class="name">andrey</span>@<span class="domain">fadeyev</span>.co.uk
</div>

<div class="description">
    <p>Hello, my name is <i>Andrey Fadeyev</i>!</p>
    <p>
      Currently, I am freelance web developer, passionate <a href="http://rubyonrails.org/">Ruby On Rails</a> programmer from Wolverhampton, UK. 
    </p>
    <p id="contact">
      Feel free to contact me!
    </p>
</div>