<!DOCTYPE html>
<html>
<head>
  <title>Andrey Fadeyev</title>
  <link href="application.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="container">
        <%= yield %>
    </div>
</body>
</html>
