<div class="email">
   <span class="name">andrey</span>@<span class="domain">fadeyev</span>.co.uk
</div>

<div class="description">
    <p>Hello, my name is <i>Andrey Fadeyev</i>!</p>
    <p>
        Currently, I am freelance web developer, passionate <%= link_to "Ruby On Rails", "http://rubyonrails.org/" %> programmer from Wolverhampton, UK. 
    </p>
    <p>
        Also, I am doing my BSc Computer Science (Software Engineering) at the <%= link_to "University of Wolverhampton", "http://www.wlv.ac.uk/" %>.
    </p>
</div>

<div id="comming_soon">
    This webpage will be updated soon...
</div>
